/* clearfix */
.clearfix-7da63 {
  clear: both;
}

/* board */
.board-b72b1 {
  border: 2px solid #404040;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* square */
.square-55d63 {
  float: left;
  position: relative;
  /* disable any native browser highlighting */
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

/* white square */
.white-1e1d7 {
  background-color: #fff;
  color: #31708f;
}
.unicode.w, .unicode.W {
  color: #fff;
}
/* black square */
.black-3c85d {
  background-color: #31708f;
  color: #fff;
}
.unicode.b, .unicode.B {
  color: #000;
}
.unicode {
  position: absolute;
  top: -40%;
}
.unicode:hover {
  position: absolute;
  top: -40%;
}
/* highlighted square */
.highlight1-32417, .highlight2-9c5d2 {
  -webkit-box-shadow: inset 0 0 3px 3px #31b0d5;
  -moz-box-shadow: inset 0 0 3px 3px #31b0d5;
  box-shadow: inset 0 0 3px 3px #31b0d5;
}

/* notation */
.notation-322f9 {
  cursor: default;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  position: absolute;
}
.alpha-d2270 {
  bottom: 1px;
  right: 3px;
}
.numeric-fc462 {
  top: 2px;
  left: 2px;
}
